*.pyc
.vscode
*.ckpt
.idea
experiments
playground
validation_ijbs
*.pkl
*.csv
result
scripts/run_debug*

data/faces_webface_112x112/lfw.bin
data/faces_webface_112x112/lfw_list.npy
data/faces_webface_112x112/lfw/data
data/faces_webface_112x112/lfw/meta
data/faces_webface_112x112/concat_validation_memfile
mem_file.dat